
.footer-section{
    width: 100%;
    height: 160px;
    background-color: #0a1930;
}

.footer-heading{
    width: 100%;
}

.footer-heading_text{
    color: #ffffff;
}

.footer-text{
    color: #ffffff;
}